<!doctype html>
<html lang=pt-br>
<head>
    <meta charset="UTF-8">
    <title>Portifólio</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav>
    <ul class="menu">
        <li><a href="#sobre">Sobre Mim</a></li>
        <li><a href="#habilidades">Habilidades</a></li>
        <li><a href="#projetos">Projetos</a></li>
        <li><a href="#certificacoes">Certificações</a></li>
        <li><a href="#contato">Contato</a></li>
        <li><a href="#curriculo" download="curriculo.pdf">Currículo</a></li>
        <button id="theme-toggle">🌙 / ☀️</button>
    </ul>
</nav>


<script src="/static/script.js"></script>
</body>
</html>
