<!doctype html>
<html lang=pt-br>
<head>
    <meta charset="UTF-8">
    <title>Portifólio</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="sobre">
    <div class="animation-container">
        <span class="symbol open">&lt;</span>
        <img src="../assets/1.png" alt="Logo" class="logo-image">
        <span class="symbol close">&gt;</span>
        <div class="text-overlay">
            <h1>Maeli Palharini</h1>
            <h2>Desenvolvedora FullStack</h2>
        </div>
    </div>
    <section id="sobre">
    <div class="sobre-container">

        <p>Olá, tudo bem? Com uma formação sólida e curiosidade constante, venho aplicando meu conhecimento em projetos de desenvolvimento web e análise de sistemas. Do código limpo ao design funcional, meu objetivo é criar soluções que facilitem a vida das pessoas e tragam impacto positivo.</p>

        <p>Minha bagagem anterior me ensinou a pensar de forma sistêmica e a valorizar a importância de soluções sustentáveis e bem estruturadas. Essas habilidades são pilares na forma como desenvolvo meus projetos na área de tecnologia hoje.</p>

        <p>Fora do trabalho, sou movida por desafios intelectuais e criatividade, seja aprendendo algo novo, explorando o potencial de novas tecnologias ou acompanhada pela minha parceira de quatro patas, que sempre me lembra de fazer pausas para brincar. 🐾</p>
    </div>
    </section>
</div>

<div class="menu">
    <a href="#sobre" class="menu-item">Sobre Mim</a>
    <a href="#habilidades" class="menu-item">Habilidades</a>
    <a href="#projetos" class="menu-item">Projetos</a>
    <a href="#certificacoes" class="menu-item">Certificações</a>
    <a href="#curriculo" class="menu-item">Currículo</a>
    <a href="#contatos" class="menu-item">Contatos</a>
</div>




<script src="/static/script.js"></script>
</body>
</html>
